<!--

<!DOCTYPE html>
<html>
    <head>
        <title>Wanderment: Create a Post</title>
    </head>

    <body>
        <h1>Create a Post</h1>

        <form id="post_form" method="post" action="/posts/create_post/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.label }}
                {{ field.errors }}
                {{ field.help_text}}
                {{ field }}
                <br><br>
            {% endfor %}

            <input type="submit" name="submit" value="Create Post" />
        </form>
    </body>

</html>



-->



<html>
    <div class='blurImg'>
        <div class='blur'></div>
    </div>

    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css" />
    <link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../../static/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../../../static/js/jquery-ui-1.10.0.js"></script>
    <script type="text/javascript" src="../../../static/js/blur.js"></script>
    
    <head>
        <title>Wanderment: Create a Post</title>
        <style>
            body {background-color:hsl(250,50%,20%);}
	    center > a {
	        margin-bottom: 1em;
	        font-family: 'EB Garamond', serif;
	        text-decoration: none;
	        font-size: 18px;
	        letter-spacing: 0.08em;
	        color: rgba(255,255,255,0.85);
	        line-height: 30px;
	        padding: 7px 14px;
	        border: 1px solid rgba(255,255,255,0.3);
	        -webkit-border-radius: 2em;
	        border-radius: 2em;
	        -webkit-transition: all 0.3s ease;
	        -moz-transition: all 0.3s ease;
	        -o-transition: all 0.3s ease;
	        -ms-transition: all 0.3s ease;
	        transition: all 0.3s ease;
	    }
	    center > a:hover {
	        background: #fff;
	        color: Gray;
	    }
        </style>
    </head>

    <body>
        <center>
            <h1 style="font-family:'Dancing Script',serif;color:white;font-size:300%; margin-top:50px;">Create a Post</h1>
	    <a href='/' title='Home'>Home</a>
            <form id="post_form" method="post" action="/posts/create_post/">

                <table>
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <tr style="margin-bottom:200px;height:50px;">
                    <td style="font-family:'EB Garamond', serif; color:white;font-size:150%; margin-bottom:100px;">
                    {{ field.label }}*
                    </td>
                    <td>
                    {{ field }}
                    </td>
                    </tr>
                    <td style="font-family:'EB Garamond', serif; color:#F88379; font-size:100%;">
                    {{ field.errors }}
                    {{ field.help_text}}
                    </td>
<!--                     <br><br> -->
                {% endfor %}


                </table>

                <input type="submit" name="submit" value="Create Post" class="create-post-button"/>
            </form>
        </center>
    </body>

</html>


<!-- <html>
	<div class='blurImg'>
  		<div class='blur'></div>
	</div>

	<link rel="stylesheet" type="text/css" href="../../../static/css/main.css" />
	<link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../../static/js/jquery-1.11.0.js"></script>
  	<script type="text/javascript" src="../../../static/js/jquery-ui-1.10.0.js"></script>
  	<script type="text/javascript" src="../../../static/js/blur.js"></script>
  	
	<head>
		<title>Wanderment: Create a Post</title>
		<style>
			body {background-color:hsl(250,50%,20%);}
		</style>
	</head>

	<body>
	<center>
		<h1 style="font-family:'Dancing Script',serif;color:white;font-size:300%;">Create a Post</h1>
		<form id="post_form" action="/posts/create_post/" method="post">{% csrf_token %} -->
			<!--<input type="hidden" value="W5rDUXydf5CMstH8jS34KyQZITYK1sLi" name="csrfmiddlewaretoken">-->
			<!-- <input id="id_title" type="text" style="font-size:16px" placeholder="Title" name="title" size="54" maxlength="240">
			<br>
			<input id="id_subTitle" type="text" style="font-size:14px" placeholder="Subtitle" name="subTitle" size="62" maxlength="240">
			<br>
			<input id="id_user" type="text" style="font-size:14px" placeholder="User Name" name="user" size="62" maxlength="240">
			<br>
			<br>
			<select id="id_city" name="city" style="width: 560px">
				<option selected="selected" value="">Select City</option>
				<option value="1">Mumbai</option>
				<option value="2">Boston</option>
				<option value="3">Doha</option>
				<option value="4">Bangkok</option>
			</select>
			<br> -->
			<!--
			<select id="id_user" name="user">
				<option selected="selected" value="">Select User</option>
				<option value="1">jesika</option>
			</select>
			<br>
			<br>
			-->
			
		
			<!-- <textarea id="id_text" rows="10" style="font-family: 'Helvetica',Lucida Grande;font-size:14px;" placeholder="Post text" name="text" cols="75"></textarea>
			
			
			<br>
			
			
			<textarea id="id_imgURLs" rows="10" name="imgURLs" style="font-family: 'Helvetica',Lucida Grande;font-size:14px;" placeholder="ImgURLs" cols="75"></textarea>
			<br>
			<input id="id_soundURL" type="url" name="soundURL" placeholder="SoundURL" maxlength="200" size="80">
			<br><br>
			
			<button type="submit" value="Create Post" name="submit" class="create-post-button">Create Post</button>
			
			<button type="submit" value="Save Post" name="save" class="save-post-button">Save Post</button>
			
			<button type="submit" value="Back Post" name="back" class="save-post-button">Go Back</button>
			
			
			
		</form>
	</center>
	</body>

</html> -->



