


<html>
	<div class='blurImg'>
  		<div class='blur'></div>
	</div>

	<link rel="stylesheet" type="text/css" href="../../../static/css/main.css" />
	<link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../../static/js/jquery-1.11.0.js"></script>
  	<script type="text/javascript" src="../../../static/js/jquery-ui-1.10.0.js"></script>
  	<script type="text/javascript" src="../../../static/js/blur.js"></script>
  	
	<head>
		<title>Wanderment: Saved Posts</title>
		<style>
			body {background-color:hsl(250,50%,20%);}
			div.sp {
				width:800px;
				padding-left:10px;
				padding-bottom:10px;
				border:5px solid gray;
				margin:10px;
				background:white;
			}
			div.sp:hover {
  				background: #33BB6D; 
  				cursor: pointer;
			}
			div.sp:active {
  				top: 1px;
  				outline: none;
  				-webkit-box-shadow: none;
 				box-shadow: none;
			}
		</style>
	</head>

	<body>
	<form id="post_form" method="post" action="/posts/saved_posts/">
	<center>
		<h1 style="font-family:'Dancing Script',serif;color:white;font-size:300%;">Saved Posts</h1>
		
		<button type="submit" value="Save Post" name="save" class="save-post-button">Home</button>
		<button type="submit" value="Save Post" name="save" class="save-post-button">New Post</button>
		<br><br>
		
		<div class="sp" onclick="window.location.href='/posts/create_post'">
			<p style="font-size:120%;text-align:left;">Post Title </p>
			<p style="text-align:left">First few words of text post...</p>
			
		</div>
		<div class="sp" onclick="window.location.href='/posts/create_post'">
			<p style="font-size:120%;text-align:left;">Post Title </p>
			<p style="text-align:left">First few words of text post...</p>
		</div>
		<div class="sp" onclick="window.location.href='/posts/create_post'">
			<p style="font-size:120%;text-align:left;">Post Title </p>
			<p style="text-align:left">First few words of text post...</p>
		</div>
		<div class="sp" onclick="window.location.href='/posts/create_post'">
			<p style="font-size:120%;text-align:left;">Post Title </p>
			<p style="text-align:left">First few words of text post...</p>
		</div>
		<div class="sp" onclick="window.location.href='/posts/create_post'">
			<p style="font-size:120%;text-align:left;">Post Title </p>
			<p style="text-align:left">First few words of text post...</p>
		</div>
		<div class="sp" onclick="window.location.href='/posts/create_post'">
			<p style="font-size:120%;text-align:left;">Post Title </p>
			<p style="text-align:left">First few words of text post...</p>
		</div>
		
		
	</center>
	</form>
	</body>

</html>



