/* SIDEBAR CSS*/
#sidebar {
	background-color:hsl(250,50%,20%);
	color:#ddd;
	float:left;
	width:300px;
	height:100%;
	margin-left:-300px;
	position:relative;
	display:table;
}
#top-section{
	height:80px;
}
#top-section div{
	display: inline-block;
}
/* resize logo (fix later)*/
#logo-img{
	vertical-align: middle;
	width:40px;
	height:40px;
	margin-top:15px;
	margin-left:15px;
}
#search-field{
	vertical-align: middle;
	height: 40px;
	width: 210px;
	border:none;
	margin-top:15px;
	margin-left:10px;
	padding: 0 10px;
	font-size: 16pt;
}
#search-submit{
	display:none;
}
#floater{
	float:left; height:40%; min-height:300px; margin-bottom:-300px; /*centering*/
}
#middle-section{
	/*centering*/
	min-height:400px;
	height: 60%;
	clear:both;

	width:300px;
	padding: 0 20px;
	margin:0;
	text-align: center;
	overflow: auto;
	/*word-break: break-all;*/
}
#sidebar-heading{
	color: rgb(250,250,250);
	font-size: 40px;
	margin-bottom: .8em;
	font-family: 'Dancing Script', serif;
}
#sidebar-info{
	color:rgb(230,230,230);
	line-height: 1.4em;
	font-size: 20px;
	margin:0 0;
}

.data-table{
	color:inherit;
	line-height:1.2em;
	font-size:20px;
	font-family: Arial;
	border-collapse: collapse;
}
.data-table td{
	padding-top: .3em;
	padding-bottom: .3em;
	text-align:left;
	/*text-align:left;*/
	font-family: 'EB Garamond', serif;
	text-transform: uppercase;
}
.data-table td:first-child{
	text-align: right;
	width:100px;
	padding-right:1em;
}

#bottom-section{
	position:absolute;
	bottom:20px;
}
