<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<LINK REL="SHORTCUT ICON" HREF="../static/imgs/40x40_logo.png">
	<title>Wanderment</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/sidebar.css"/>
	<link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond" rel="stylesheet" type="text/css" />

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script type="text/javascript" src="../static/js/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="../static/js/jquery-ui-1.10.0.js"></script>
	<script type="text/javascript" src="../static/js/maps.js"></script>
	<script type="text/javascript" src="../static/js/blur.js"></script>
	<script type="text/javascript" src="../static/js/sidebar.js"></script>
	<script type="text/javascript" src="../static/js/editor/ckeditor.js"></script>
</head>
<body>
	<div id="wrap" class="wrapper">
		<div id="sidebar">
			<div id="top-section">
				<div id="logo-wrapper">
					<a href="/"><img id="logo-img" src="../static/imgs/40x40_logo.png"/></a>
				</div>
				<div id="search-form-wrapper">
					<form id="search-form"> 
						<input id="search-field" type="text" name="search-field"  placeholder="Find a City..." autocomplete="off" style="font-family: 'EB Garamond', serif;">
						<input id="search-submit" type="submit">
					</form> 
				</div>
			</div>
			<!-- float for pushing down middle to center -->
			<div id="floater"></div>
			<div id="middle-section">
<!-- more info updates here -->
				<h2 id="sidebar-heading">Welcome to Wanderment!</h2>
				<div id="sidebar-info"><p>search for a city or click around the map to start wandering</p></div>
			</div>

			<div id="bottom-section">
<!-- add post stuff here -->
<!--				<button class="emerald-flat-button" id="show_sample_post"> Toggle Sample Post</button>-->

			<button onclick="window.location.href='/editor'" class="emerald-flat-button" id="show_editor" style="margin-left: 45 px; margin-top: 50px; min-width:200px">Go To Editor</button>
			</div>

		</div>
		<div id="map"></div>
		<div id="sample_post" class="slider">
			<div id="sample_post_content">
			
				<div class='blurImg'>
				  <div style="background-image: url('https://d262ilb51hltx0.cloudfront.net/fit/c/1600/1280/gradv/29/81/60/darken/25/1*4ncz3hLxmL8E_bUh-0z62w.jpeg')"></div>
				  <div class='blur' style="background-image: url('https://d262ilb51hltx0.cloudfront.net/fit/c/1600/1280/gradv/29/81/40/darken/50/blur/50/1*4ncz3hLxmL8E_bUh-0z62w.jpeg')"></div>
				</div>

				<header>
				  <div>
				    <h1>
				      Mumbai
				    </h1>
				    <p>
				      The city of dreams
				    </p>
				    <!--Home button disabled for now, seems redundant with back button-->
				    <a href='/' title='Home' hidden>Home</a>
				    <a href='#' onclick="updateInfo(defaultInfo); slide();" title='Back' style="font-family: 'EB Garamond', serif;">Back</a>
				    
				    <a href='/' title='User' hidden>Dora</a>
				    <a href='#' onclick="updateInfo(userInfo); slide();" title='Back' style="font-family: 'EB Garamond', serif;">Dora</a>
				  </div>
				  <nav role='navigation'>
				    <ul>
				      <li>
				        <a class='active' href='#'>More Posts</a>
				      </li>
				      <li>
				        <a href='#'>Your List</a>
				      </li>
				      <li>
				        <a href='#'>Top 100</a>
				      </li>
				    </ul>
				  </nav>
				</header>

				<div class='container'>

  				<div class='article'>
					  The financial capital and most populous city in India, Mumbai is a diverse, vibrant, multi-cultural, modern city teeming with crowds. <!-- Situated on the west coast of India, Mumbai is the capital of the state of Maharashtra and home to 20 million people. Mumbai, along with the neighboring urban areas of Thane and Navi Mumbai, is one of the most heavily populated regions in Asia.
					  Mumbai seems to be chaotic for travelers but the city moves at its own pace and there is a method to the madness of the city. Mumbai is also the entertainment capital of India. Scores of films are produced annually in Mumbai. Lured by its wealth, prosperity and the prospects of 'streets paved with gold', thousands of people migrate to Mumbai annually from interior regions of India. The city has welcomed and offered sanctuaries to people from different regions of the world and it is reflected in its cosmopolitan nature.
					  <br>
					  The city is replete with examples of contradiction. Luxury apartments stand adjacent to sprawling slums; the number of skyscrapers increases daily even as the largest slum in Asia, Dharavi continues to thrive. Cattle driven carts co-exist with luxury vehicles. -->
					</div>
				</div>
		</div>

		<!-- <div id="editor" class="slider">
			<div id="editor_content">
	    <form id="edit_form">
	        <textarea name="editor1" id="editor1" rows="10" cols="80">
	            This is my textarea to be replaced with CKEditor.
	        </textarea>
	        <script>
	            // Replace the <textarea id="editor1"> with a CKEditor
	            // instance, using default configuration.
	            CKEDITOR.replace( 'editor1' );
	        </script>
	    </form>
	    </div> 
	  </div> -->

</body>
</html>
