<html>
<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="/static/js/blur.js"></script>
<div class='blurImg'>
  <!--<div style="background-image: url('https://d262ilb51hltx0.cloudfront.net/fit/c/1600/1280/gradv/29/81/60/darken/25/1*4ncz3hLxmL8E_bUh-0z62w.jpeg')"></div>-->
  <div style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/09/Mumbai_Train_Station.jpg')"></div>
  <!--<div class='blur' style="background-image: url('https://d262ilb51hltx0.cloudfront.net/fit/c/1600/1280/gradv/29/81/40/darken/50/blur/50/1*4ncz3hLxmL8E_bUh-0z62w.jpeg')"></div>-->
  <div class='blur' style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/09/Mumbai_Train_Station.jpg')"></div>
</div>
<header>
  <div>
    <h1>
      Mumbai
    </h1>
    <p>
      The city of dreams
    </p>
    <a href='http://wanderment.herokuapp.com/' title='Home'>Home</a>
  </div>
  <nav role='navigation'>
    <ul>
      <li>
        <a class='active' href='#'>More Posts</a>
      </li>
      <li>
        <a href='#'>Your List</a>
      </li>
      <li>
        <a href='#'>Top 100</a>
      </li>
    </ul>
  </nav>
  </header>

  <body>

<div class='container'>
  <div>
  <p>
  The financial capital and most populous city in India, Mumbai is a diverse, vibrant, multi-cultural, modern city teeming with crowds. Situated on the west coast of India, Mumbai is the capital of the state of Maharashtra and home to 20 million people. Mumbai, along with the neighboring urban areas of Thane and Navi Mumbai, is one of the most heavily populated regions in Asia.
  Mumbai seems to be chaotic for travelers but the city moves at its own pace and there is a method to the madness of the city. Mumbai is also the entertainment capital of India. Scores of films are produced annually in Mumbai. Lured by its wealth, prosperity and the prospects of 'streets paved with gold', thousands of people migrate to Mumbai annually from interior regions of India. The city has welcomed and offered sanctuaries to people from different regions of the world and it is reflected in its cosmopolitan nature.
<!--   </p>
</div>
<div class='container'>
  <p> --> 

<!--   <img src="https://d262ilb51hltx0.cloudfront.net/fit/c/1600/1280/gradv/29/81/60/darken/25/1*4ncz3hLxmL8E_bUh-0z62w.jpeg" alt="bikeimage" height="600" width="800" margin="0x auto" position:"relative"></img> -->

  <br>
  The city is replete with examples of contradiction. Luxury apartments stand adjacent to sprawling slums; the number of skyscrapers increases daily even as the largest slum in Asia, Dharavi continues to thrive. Cattle driven carts co-exist with luxury vehicles.
  </p>
</div>

</div>
</body>
</html>
